{% block home_about %}
    <!-- About -->
    <section class="content-section parallax bg-light" id="about">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h2 class="mb-2">{{ 'app.home.about.title'|trans }}</h2>
                    <p class="lead mb-5 text-justify">{{ 'app.home.about.paragraph'|trans }}</p>
                    <a class="arrow-next-content text-dark js-scroll-trigger" href="#services" title="Voir la suite"><i class="icon-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
