{% block home_about %}
    <!-- About -->
    <section class="content-section bg-light" id="about">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>{{ 'app.home.about.title'|trans }}</h2>
                    <p class="lead mb-5">{{ 'app.home.about.paragraph'|trans }}
                        <a href="#">{{ 'app.home.about.link'|trans }}</a></p>
                    <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">{{ 'app.home.about.services_button'|trans }}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
