{% block home_callout %}
    <!-- Callout -->
    <section class="callout">
        <div class="container text-center">
            <h2 class="mx-auto mb-5">{{ 'app.home.callout.title'|trans }}</h2>
            <a class="btn btn-primary btn-xl" href="#">{{ 'app.home.callout.button' }}</a>
        </div>
    </section>
{% endblock %}
