{% block home_header %}
    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img class="img-fluid" src="{{ asset("build/images/logoRK.jpeg") }}" alt="Logo de Redwan Kara">
            <span class="my-3"></span>
            <span class="d-none d-md-block">
                <a href="#" class="typewrite h1" data-period="2000" data-type='[ "{{ 'app.home.header.title'|trans }}" ]'>
                    &nbsp;<span class="wrap"></span>
                </a>
            </span>
            <hr>
            <h1 class="h3 mb-5">
                <em>{{ 'app.home.header.subtitle'|trans }}</em>
            </h1>
            <br>
            <a class="header-arrow js-scroll-trigger" href="#about"><i class="icon-arrow-down"></i> </a>
        </div>
        <div class="overlay"></div>
    </header>
{% endblock %}
