.masthead {
  min-height: 100vh;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;

  .typewrite {
    height: 10vh;
    color: $black;
  }

  h1 {
    color: $black;
  }

  .header-arrow {
    font-size: 5rem;
    font-weight: bold;
    transition: color 0.3s;
    &:hover {
      text-decoration: none;
    }
  }
}
